<h1>This is the secret page!</h1>

<p>You found me!</p>

<img src="https://vignette.wikia.nocookie.net/marveldatabase/images/a/ab/Avengers_Infinity_War_poster_008.jpg/revision/latest?cb=20180414021600" height="500" width="500">

<li><a href="/register">Sign Up!</a></li>       <!-- Sending the user to the sign up page -->
<li><a href="/login">Login!</a></li>
<li><a href="/logout">Logout!</a></li>