<html>
    <head>
        <title>Blog App</title>
        <!--Linking to the Semantic UI framework-->
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.4/semantic.min.css">
        <link rel="stylesheet" type="text/css" href="/stylesheet/app.css"> <!--Linking up with our "app.css" file-->
    </head>
    <body>
      <div class="ui fixed inverted menu">  <!--Semantic UI class-->
          <div class="ui container">
              <div class="header item"><i class="comment icon"></i>Blog Site</div> <!--Picking up the icon from the Semantic UI site-->
              <a href="/" class="item">Home</a>
              <a href="/blogs/new" class="item">New Post</a>
          </div>
      </div>